.typing {
    font-size: 50px;
    font-weight: bold;
    font-family: monospace;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid black;
    animation:
        typing 4s steps(11, end) 3,
        blinkCursor .8s step-end infinite;
}

@keyframes typing {
    0% {
        width: 11ch;
    }

    30% {
        width: 0ch;
    }

    60% {
        width: 11ch;
    }

    100% {
        width: 11ch;
    }

}

@keyframes blinkCursor {
    50% {
        border-color: transparent;
    }
}