* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header {
    text-transform: uppercase;
    background-color: #816cdb;
    height: 60px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}
li {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}
li img {
    width: 100px;
    border-radius: 50%;
}
li a {
    text-decoration: none;
    color: #000;
    margin-top: 10px;
}
.landing-img {
    padding: 20px;
    background-color: #ddd;
}
.landing-img img {
    width: 100%;

}